<mat-grid-list cols="5" rowHeight="9%" gutterSize="0px" class="full-section">
  <mat-grid-tile [colspan]="2" [rowspan]="9">
    <div class="top-row-card">
      <mat-card appearance="outlined">
        <mat-form-field appearance="outline" class="textarea-formfield">
          <mat-label>EDI</mat-label>
          <textarea  
            matInput 
            [formControl]="ediFormControl"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="40"></textarea>
        </mat-form-field>
      </mat-card>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="9"> 
    <div class="top-row-card">
      <mat-card appearance="outlined">
        <mat-form-field appearance="outline" class="textarea-formfield">
          <mat-label>JSON</mat-label>
          <textarea  
            matInput 
            [formControl]="jsonFormControl"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="40">
          </textarea>
        </mat-form-field>
      </mat-card>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <mat-card appearance="outlined" class="details-card">
      <mat-card-content>
        <p> {{details}} </p>
      </mat-card-content>
      <mat-card-actions *ngIf="ranTransaction">
        <button mat-button (click)="openStatus()">Click to know more!</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="8">
    <mat-card appearance="outlined" class="gemini-card">
      <mat-card-header>
        <div>
          <mat-card-subtitle>Ask Gemini!</mat-card-subtitle>
        </div>
        <div class="gemini-icon">
          <mat-icon aria-label="Gemini" fontIcon="chat_bubble" color="primary"></mat-icon>
        </div>
        
      </mat-card-header>
      <mat-card-content class="gemini-chat-section">
        Content
      </mat-card-content>
      <mat-card-footer class="gemini-input-section">
        <mat-form-field appearance="outline" class="chat-input-section">
          <textarea matInput></textarea>
        </mat-form-field>
        <button mat-icon-button class="chat-button-section" color="primary">
          <mat-icon>send</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4" [rowspan]="1">
      <button mat-flat-button (click)="convert()">Submit</button>
  </mat-grid-tile>
  
</mat-grid-list>
