.full-section{
    min-height:90vh;
}

.top-row-card{
    width: 100%;
    height: 100%;
    display: grid;
    margin: 2% 2% 2% 0;
}

.textarea-formfield{
    width: 96%;
    align-self: center;
    min-height: 100%;
    padding: 2%;
}

.bottom-row-card{
    width: 100%;
    height: 100%;
    display: grid;
    margin: 2%;
}

.details-card{
    width: 100%;
    height: 100%;
    margin: 0 0 2% 2%;
    overflow-wrap: anywhere;
}

.gemini-card{
    width: 100%;
    height: 100%;
    margin: 4% 0 2% 2%;
    overflow-wrap: anywhere;
}