.full-section{
    min-height:90vh;
}

.top-row-card{
    width: 100%;
    height: 100%;
    display: grid;
    margin: 2%;
}

.textarea-formfield{
    width: 96%;
    align-self: center;
    min-height: 100%;
    padding: 2%;
}

.bottom-row-card{
    width: 100%;
    height: 100%;
    display: grid;
    margin: 2%;
}

.top-section{
    height: 90%;
}

.bottom-section{
    height: 10%;
}
